.title {
    color: #000 !important;
    font-weight: 900 !important;
    font-size: 26px !important;
    line-height: 40px !important;
    margin-bottom: 80px !important;
    margin-left: 10px !important;
}

.ind {
    color: #000 !important;
    font-size: 20px !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
    padding-bottom: 40px !important;
}

.title_ind {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: 900 !important;
    margin-left: 20px !important;
}

.margin_top_40 {
    margin-top: 40px !important;
}

.margin_top_80 {
    margin-top: 80px !important;
}

.margin_top_10 {
    margin-top: 10px !important;
}

.margin_top_200 {
    margin-top: 200px !important;
}